{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{% static "imageStitching/img/logo.png" %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static "imageStitching/css/style.css" %}">
    <title>Panogama</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center">Image Stitching</h1>
    </div>
    <div class="container">
        <form action="upload" method="post" class="uploadForm" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <div class="form-group"> -->
                <h3 for="exampleFormControlFile1">Select folder</h3>
                <input type="file" name="folder"  webkitdirectory mozdirectory />
            <!-- </div> -->
            <!-- <div class="form-group"> -->
                <button type="submit" id="submit1" class="btn btn-primary">Submit</button>
            <!-- </div> -->
        </form>
    </div>
    <div class="container" id="result">
        <h1>Result </h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-5 matching"></div>
                <p class="col-2"></p>
                <div class="col-5 stitching"></div>
            </div>
        </div>
    </div>

    <script>
        var matching = document.getElementsByClassName("matching")[0]
        var stitching = document.getElementsByClassName("stitching")[0]
        $("#result").hide()
        $("#submit1").click(function (e) {
            matching.innerHTML = ""
            stitching.innerHTML = ""

            e.preventDefault()
            var files = $('input[name="folder"]')[0];
            form = $(".uploadForm")[0]
            $.ajax({
                url: '/upload',
                type: 'POST',
                data: new FormData(form),
                processData: false,
                contentType: false,
                success: function (result) {

                    if (result == "ok") {
                        $("#result").show()
                        matching.innerHTML += '<img src="/static/result/matching.jpg?t=' + new Date() + '" alt="matching" srcset="">'
                        stitching.innerHTML += '<img src="/static/result/stitching.jpg?t=' + new Date() + '" alt="stitching" srcset="">'
                    }
                }
            });
        })
    </script>
</body>

</html>